*{
    margin: 0;
    padding: 0;
}

main{
    width: 900px;
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(208, 127, 20);
}
.container{
    background-image: url(images/donation6.jpg);
     height: auto;
     position: relative;
     width: 900px;
     height: 500px;
     display: block;
     

}
.fast-text{
    position: absolute;
    width: 600px;
    height: 260px;
    text-align: center;
    margin-left: 180px;
    margin-top: 180px;

}
.fast-text:hover{
    background-color: azure;
    border-radius: 15px;
    
}
.fast-text  p:hover{
    color: black;
    font-size: 20px;
}
.fast-text h1:hover{
    color: chartreuse;
    font-size: 50px;
}
.fast-text h1{
    font-size: 45px;
    color: aquamarine;
}
.fast-text p{
    color:aqua;
    font-size: 18px;   
}

.container a{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 15px 20px;
    border-radius: 10px;
    color: azure;
    font-weight: 900px;   
}
.container a:hover{
    color: black;
    background-image: linear-gradient(aqua, rgb(255, 217, 146));
    padding: 20px 30px;
    font-weight: 700px;  
    font-size: 15px;
}
.donate{
    text-align: center;
    margin-top: 60px;
    margin-left: 210px;
    width: 470px;
}
.donate h2 {
    font-size: 40px;
}
.donate p{
    margin-top: 15px;
    font-weight: 700;
}
.calo{  
    margin: 25px 10px;
    text-align: center;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 10px;
    width: 1000px;
    height: 120px;
    max-width: 85%;
    margin-left: 70px;
}
.taka{
    width: 100px;
    height: 80px;
    border: 1px solid cornsilk;
    border-radius: 10px;
    background-color: cornsilk;
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;  
       
}

.taka:hover{
    background-color: aqua;
    border: 1px solid black;
}

.next{
    text-decoration: none;
    background-image: linear-gradient(aqua, rgb(255, 217, 146));
    padding: 15px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700;   
    font-size: 18px; 
}
.next:hover{
        background-image: linear-gradient(cornsilk, yellow);
}
.donate-plan{
    text-align: center;
    margin-top: 60px;
    margin-left: 210px;
    width: 470px;
}
.donate-plan h2{
    font-size: 40px;
    color: yellowgreen;
}
.food-item{
    border: 1px solid khaki;
    border-radius: 20px;
    height: 350px;
    margin-top: 20px;
    display: flex;
    background-color: paleturquoise;
}
.food-box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px 10px;
    background-color: palegreen;
}
.food-box img{
    margin-top: 20px;
    margin-left: 20px;
}
.food-box h1{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 10px;
}
.food-box p{
    margin-left: 10px;
}
#food-color1{
    background-color: pink;
}
#food-color2{
    background-color: khaki;
}
